<h2>Student Name : Fathima Sifa</h2>
<h2>Student Id   : 84304 </h2>
<h2>
  <u>
    Web Security Fundamentals </u></h2>
    <p>
      Understand network industry standards such as: the OSI model,
      Routing Protocols, Address Resolution and Reverse Address Resolution Protocols,
      IP Addresses and Subnetting, MAC Addressing.

      An ability to analyze a problem, and identify and define the computing
      requirements appropriate to its solution.Identify infrastructure components
      and the roles they serve, and design infrastructure including devices, topologies,
      protocols, systems software, management and security. Analyze performance of enterprise
      network systems.

      Explain the concepts of confidentiality, availability and integrity in Information
      Assurance, including physical, software, devices, policies and people. Analyze these
      factors in an existing system and design implementations.An understanding of professional,
      ethical, legal, security and social issues and responsibilities.

    </p>
